*{
    font-family: Arial;
}
body {
    margin: 0;
    padding: 0;
   
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;

}

.logo {
    display: flex;
    align-items: center;
}

.menu {
display: flex;
align-items: center;
}

nav ul, nav li{
list-style: none;
margin: 0;
padding: 0;
}

nav ul{
    display: flex;
}

nav a{
display: block;
padding: 15px;
text-decoration: none;
text-transform: uppercase;
color: #727272;
}

nav .active a,
nav a:hover{
background-color: #39aae1;
color: #fff;
}

#banner {
    background-image:url('../Images/img1.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
    display: flex;
    justify-content: center;
}

.column{
flex-direction: column;
}

.banner_headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_headline h1{
    color: #fff;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555;
    margin: 0;
    padding: 0;
    max-width: 350px;
}
.banner_headline h2{
    color: #fff;
    font-size: 21px;
    text-shadow: 0px 1px 0px #555;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
}
.banner_options{ 
    height: 210px;
    display: flex;
}

.banner1,.banner2,.banner3{
    flex: 1;
    color: #fff;
    padding: 20px;
}

.banner1{
    background-color: #39aae1;
}
.banner2{
    background-color: #0079c7;
}
.banner3{
    background-color: #2b4c99;
}

.banner_title{
font-size: 21px;
}
.banner_desc{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner_options a{
display: inline-block;
border: 1px solid #fff;
padding: 5px;
color: #fff;
font-size: 13px;
text-decoration: none;
}

.semana, .sunday, .saturday{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #0079c7;
    margin-top: 10px;
    padding: 1px;
    color: #fff;
}

#geral{
    display: flex;
    justify-content: center;
}

#geral section{
    flex: 2;

}

#geral aside{
    flex: 1;
}

.widget_title{
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_title_text{
    color: #000;
    font-size: 21px;
    font-weight: bold;

}

.widget_title_bar{
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
}

.grupo_blocos{

    display: flex;
    flex-wrap: wrap;
    width: auto;
    
    margin-left: -10px;
    
}

.grupo_blocos div{
    padding: 10px;
    margin: 5px 10px ;
    width: 130px;
    height: 130px;
    background-color: #39aae1;
}

.logo_contatos{
    
    width: auto;
}
.logo_contatos 
.linha1,
.linha2,
.linha3{
    display: flex;
    
    border-bottom: 1px solid #0079c7;
    margin-top: 30px;
    padding: 1px;
}
.logo_contatos .img{
    width: 35px;
    height: 35px;
    padding: 5px;
    align-content: center;

}

.logo_contatos div{
   
   align-items: center;
    
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
article{
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}
article a {
    text-decoration: none;
}
article .news_data{
    display: flex;
}
article .news_posted_at{
background-color: #2b4c99;
color: #fff;
font-size: 12px;
}

article .news_posted_at{
    background-color: #2b4c99;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}

article .news_comments{
    background-color: #39aae1;
    color: #fff;
    font-size: 12px;
    padding: 10px;

}
article .news_thumbnail{
    margin-top: 30px;
}
article .news_thumbnail img{
    width: 100%;
    height: auto;
}

article .news_title{
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000;
    font-size: 23px;

}

article .news_resume{
    color: #5c5c5c;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 30px;
}

footer{
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}

.footer_menu{
    display: flex;
   
}

.fm_1, .fm_2, .fm_3{
    flex: 1;
    color: #fff;
    padding: 20px;
}

.fm_1{
    background-color: #39aae1;
}
.fm_2{
    background-color: #0079c7;
}
.fm_3{
    background-color: #2b4c99;
}

.footer_area{

display: flex;

}
.footer_areaitem{
    flex: 1;
    color: #fff;
}
.flexColumn{
    flex-direction: column;
}

footer .widget_title_text{
    color: #fff;
} 

.footer_copy{
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}

.footer_menu{
    color: #727272;
}
.footer_menu .fm_titulo{
    font-size: 20px;
}
.footer_menu .fm_subtitulo{
    font-size: 14px;
    margin-top: 10px;
}

.mdc_desc_resume {
    color: #5c5c5c;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 30px;
}

footer .medcenter_contatos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mdc_endeco {
    color: #5c5c5c;
    font-size: 12px;
}

.mdc_phones {
    margin-top: 12px;
    color: #5c5c5c;
    font-size: 12px;
    margin-right: 10px;
}

.social_medias {
    display: flex;
    flex-direction: row;
}

.social_media1, .social_media2, .social_media3, .social_media4 {
    height: 20px;
    width: 20px;  
    background-color: #5c5c5c;
    justify-content: left;
    margin-right: 6px;
    margin-top: 20px;
}

.lts_posts{
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 20px;
}

.time_post{
    color: #0079c7;
    font-size: 10px;
    margin-top: 3px;
}

.tweets_posts {
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 20px;
}

.tweets_timeposts {
    color: #0079c7;
    font-size: 10px;
    margin-top: 3px;
}